<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 center">
				<form name="welcomeForm" ng-hide="hello" novalidate>
					<label class="block" for="whatsYourName">What's your name?</label>
					<input type="text" ng-model="whatsYourName" class="giant" name="whatsYourName" required ng-pattern="/^[a-z,A-Z]{2,30}$/" /> <br />
					<input type="submit" class="btn btn-success giant" ng-click="addName(); hello=true" value="ok" id="addNameButton" name="addNameButton" ng-disabled="!welcomeForm.$valid" />
				</form>
				<p ng-if="hello">Welcome {{ name | capitalize }}</p>
			</div>
		</div>
	</div>
</section>